---
import { Image } from "astro:assets";
import messImages from "@assets/mess.png";
import heartImages from "@assets/heart.png";
import flashImages from "@assets/flash.png";
import { socialLinks } from "@consts";
---

<footer class="bg-black flex flex-col">
  <article
    class="m-auto flex flex-col gap-6 max-w-5xl p-5 section-padding md:px-10">
    <div
      class="text-p-info w-full flex-col gap-5 flex text-balance opacity-0"
      id="text">
      <p>
        Feel free to contact me for <span class="text-primary"
          >collaborations</span
        >,<span class="text-primary"> projects</span>, <span
          class="text-primary">
          jobs</span
        >, or just to <span class="text-primary"> say hi</span>.
      </p>
      <p class="text-secondary">Let's make something amazing together!</p>
    </div>

    <ul
      class="flex items-start text-highlight py-5 relative"
      ,
      id="social-link">
      {
        socialLinks.map((link) => (
          <li class="  ">
            <span class="sr-only">link for {link.friendlyName}</span>
            <a
              href={link.link}
              target="_blank"
              rel="noopener noreferrer"
              class="active:cursor-zoom-out group  flex items-center justify-center gap-5   rounded-xl  p-5">
              <Image
                src={link.icon}
                loading="eager"
                class="w-8 md:w-16 object-contain group-hover:-translate-y-3 transition-all duration-300 ease-linear md:brightness-0 md:invert   group-hover:brightness-100 group-hover:invert-0  "
                alt={link.link}
              />
              <p class="hidden md:block group-hover:underline underline-offset-4 capitalize">
                {link.friendlyName}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </article>

  <article
    class="flex mt-auto flex-col flex-wrap items-center justify-center bg-secondary text-black p-5">
    <div class="flex items-center gap-6">
      <Image src={messImages} alt="shapes" class="w-12 hue-rotate-180" />
      <Image src={heartImages} alt="shapes" class="w-12 hue-rotate-180" />

      <Image src={flashImages} alt="shapes" class="w-12 hue-rotate-180" />
    </div>
    <p class="text-center text-xl md:text-2xl animate-jump-in">
      Whoa! You made it all the way down here? You deserve a virtual high-five! <span
        class="text-2xl md:text-5xl animate-pulse">
        🙌
      </span>
    </p>
    <div class="flex items-center gap-6">
      <Image src={messImages} alt="shapes" class="w-12 hue-rotate-180" />
      <Image src={heartImages} alt="shapes" class="w-12 hue-rotate-180" />

      <Image src={flashImages} alt="shapes" class="w-12 hue-rotate-180" />
    </div>
  </article>
</footer>

<script>
  import { inView, animate, stagger } from "motion";
  inView("footer", (info) => {
    animate(info.target, { opacity: [0, 0.5, 1] });
  });

  inView("#text", (info) => {
    animate(
      info.target,
      { opacity: [0, 0.5, 1] },
      { endDelay: 0.5, duration: 1 }
    );
  });
  inView("#social-link li", (info) => {
    animate(
      info.target,

      {
        opacity: [0, 0.5, 1],
      },
      {
        duration: 2,
        delay: stagger(0.5),
        endDelay: 0.5,
      }
    );
  });
</script>
