---
import { Image } from "astro:assets";
import { socialLinks } from "@consts";
import Photo from "@assets/photo.png";
import bg from "@assets/bg.svg";
import messImages from "@assets/mess.png";
import heartImages from "@assets/heart.png";
---

<section
  class="section-padding relative bg-gradient-to-b from-black via-black/50 to-transparent">
  <article
    class="flex flex-col justify-center gap-10 md:gap-16 items-center m-auto max-w-5xl p-5">
    <div
      class="w-full animate-fade-up rounded-[5rem] overflow-hidden bg-black shadow-highlight/10 shadow">
      <h1
        class="yo w-full backdrop-blur-3xl text-center text-highlight text-5xl sm:text-7xl md:text-7xl lg:text-9xl py-6 tracking-wide text-nowrap flex items-center justify-center"
        id="greetings">
        <span class="animate-wiggle-more animate-twice" id="wave">👋</span>
        <span
          class="animate-fade-right transition-all duration-500 ease-linear word"
          id="johar">Johar</span
        >
        <span
          class="animate-fade-left hidden transition-all duration-500 ease-linear word"
          id="sup">YO 'SUP?</span
        >
      </h1>
    </div>
    <div class="grid gap-6 grid-cols-12 m-auto">
      <!-- DP -->
      <div
        class="col-span-12 md:col-span-4 rounded-[5rem] relative overflow-hidden animate-fade-up animate-delay-200 shadow-highlight/10 shadow">
        <div class="m-auto relative">
          <figure class="h-full overflow-hidden">
            <Image
              class="object-contain object-bottom z-10 relativer h-full"
              src={Photo}
              alt="snehal"
              quality="mid"
              loading="eager"
            />
            <Image
              quality="low"
              src={bg}
              class="absolute top-0 left-0 w-full h-full -z-10"
              alt=""
              loading="eager"
            />
          </figure>
        </div>
      </div>
      <!-- intro -->
      <div
        class="bg-black col-span-12 md:col-span-8 rounded-[5rem] flex items-end justify-center relative animate-fade-down animate-delay-300 md:animate-fade-right overflow-hidden shadow-highlight/10 shadow">
        <Image
          src={messImages}
          alt="shapes"
          loading="eager"
          class="absolute opacity-30 top-0 left-0 invert"
        />
        <Image
          src={heartImages}
          alt="shapes"
          loading="eager"
          class="absolute opacity-30 bottom-10 right-0 invert"
        />

        <div
          class="flex items-center justify-center h-full w-full m-auto backdrop-blur text-pretty">
          <div class="px-5 py-10 md:p-10 m-auto w-fit">
            <h3 class="text-p-info text-secondary font-semibold">
              I'm Snehal

              <span class="font-normal text-accent text-xs md:text-base"
                >/ˈsnɛhəl/<button aria-label="pronounce name" id="speak">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="transparent"
                    class="w-4 h-4 rounded-full">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      fill="currentColor"
                      d="M19.114 5.636a9 9 0 0 1 0 12.728M16.463 8.288a5.25 5.25 0 0 1 0 7.424M6.75 8.25l4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z"
                    ></path>
                  </svg>
                </button>
                ,
              </span>
            </h3>
            <p class="text-p text-primary">
              I craft user-friendly interfaces that transform ideas into digital
              experiences.
            </p>
            <ol class="flex items-center gap-5 px-5 pt-5">
              {
                socialLinks.map((link) => (
                  <li class="  ">
                    <span class="sr-only">link for {link.friendlyName}</span>
                    <a
                      href={link.link}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="active:cursor-zoom-out w-fit group  flex items-center justify-center   rounded-xl  ">
                      <Image
                        src={link.icon}
                        loading="eager"
                        class="w-8  object-contain group-hover:scale-125 transition-all duration-300 ease-linear "
                        alt={link.link}
                      />
                    </a>
                  </li>
                ))
              }
            </ol>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<script>
  const btn = document.getElementById("speak") as HTMLButtonElement;
  const wave = document.getElementById("wave") as HTMLSpanElement;
  const spans = document.querySelectorAll("#greetings span:nth-child(n+2)");

  const synth = window.speechSynthesis;
  function makeSpeak() {
    const utterThis = new SpeechSynthesisUtterance("snehal");
    synth.speak(utterThis);
  }

  btn.addEventListener("click", makeSpeak);
  let currentIndex = 0;

  function toggleSpan() {
    wave.classList.toggle("hidden");
    spans[currentIndex].classList.add("hidden");
    currentIndex = (currentIndex + 1) % spans.length;
    spans[currentIndex].classList.remove("hidden");
  }

  // Toggle spans every 2 seconds
  setInterval(toggleSpan, 3000);
</script>
