---
import Card from "./ui/Card.astro";
import { skills } from "@consts";
---

<div class="">
  <h3 class="text-p text-secondary py-5 list-header">
    Here Some thechnologies I've reccently worked with:
  </h3>
  <ul
    class="flex flex-wrap gap-5 justify-center max-w-md items-start"
    id="tech-list">
    {
      skills.mainFocus.map((skill) => (
        <Card isScondary={false} name={skill.name} icon={skill.icon} />
      ))
    }
    {
      skills.secondaryFocus.map((skill) => (
        <Card isScondary={true} name={skill.name} icon={skill.icon} />
      ))
    }
  </ul>
</div>

<script>
  import { animate, inView, stagger } from "motion";

  inView("#tech-list li", (info) => {
    animate(
      info.target,
      { opacity: [0, 0.5, 1] },
      { duration: 0.5, easing: "ease-out", delay: stagger(0.5), endDelay: 0.5 }
    );
  });
</script>
