---
import Card from "./ui/Card.astro";
import { skills } from "@consts";
---

<div class="lg:max-w-4xl">
  <h2 class="text-p text-secondary p-5">
    Here Some thechnologies I've worked with:
  </h2>
  <div class="flex flex-wrap items-start gap-5">
    {
      skills.mainFocus.map((skill) => (
        <Card isScondary={false} name={skill.name} icon={skill.icon} />
      ))
    }
    {
      skills.secondaryFocus.map((skill) => (
        <Card isScondary={true} name={skill.name} icon={skill.icon} />
      ))
    }
  </div>
</div>
