---
import Card from "./ui/Card.astro";
import { skills } from "@consts";
import { Image } from "astro:assets";
import messImages from "@assets/mess.png";
---

<div class="flex flex-col gap-5">
  <h3
    class="text-secondary text-balance text-p-info list-header flex items-center relative w-fit">
    <Image
      src={messImages}
      alt="shapes"
      loading="eager"
      class="absolute opacity-20 -top-16 right-0 invert"
    />
    <span> Recently Worked With </span>
  </h3>
  <ul
    class="flex flex-wrap max-w-sm md:max-w-lg lg:max-w-xl gap-2 justify-center md:gap-3 lg:gap-4"
    id="tech-list">
    {
      skills.mainFocus.map((skill) => (
        <Card isScondary={false} name={skill.name} icon={skill.icon} />
      ))
    }
    {
      skills.secondaryFocus.map((skill) => (
        <Card isScondary={true} name={skill.name} icon={skill.icon} />
      ))
    }
  </ul>
</div>
