---
import { works } from "@consts";
import Work from "./ui/work.astro";
---

<section class="flex flex-col">
  <header class="top-0 bg-black p-5">
    <h1
      class="text-p-info head p-5 text-center py-24 max-w-5xl m-auto !text-secondary">
      This is some of stuff I've been building with code. Take a peek and see
      what I've been up to.
    </h1>
  </header>
  <main class="z-10 w-full flex flex-col gap-6 p-5 relative section-padding">
    {
      works.map((work) => (
        <Work
          title={work.title}
          url={work.url}
          image={work.image}
          info={work.info}
          tags={work.tags}
        />
      ))
    }
  </main>
</section>

<style>
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      .head {
        animation: scale-down linear both;
        animation-duration: 3ms;
        animation-timeline: scroll();
        animation-range: exit -400px;
      }
    }
  }

  @keyframes scale-down {
    to {
      transform: scale(0.1);
    }
  }
</style>
