---
const { href, title, body, homepage, topics, image } = Astro.props;
import ExternalSvg from "../assets/external.svg";
---







<li class='group border-2 md:aspect-video  border-red-200  hover:border-red-500 hover:shadow-3xl hover:shadow-red-50 overflow-hidden rounded-xl transition duration-100 ease-in-out' 
    data-scroll
    data-scroll-speed=".5"
>
  <div class='bg-[#0E2A47] md:h-full rounded-lg md:flex gap-5 bg-opacity-50 relative'>
    <img
    data-scroll
    data-scroll-speed=".5"
      src={image ||
        "https://images.unsplash.com/photo-1593642532744-d377ab507dc8"}
      alt='Laptop on Desk'
      class='md:absolute  object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none'
    
    
      />
      
    <div class=' bg-black bg-opacity-70 w-full p-5 flex flex-col  gap-5  z-10'>
 <div class="flex justify-between">
       <h4 class='font-bold text-2xl md:text-4xl mb-2'
         data-scroll
    data-scroll-speed=".2"
    data-scroll-direction="horizontal"
       >
        {title}
      </h4>
      
 </div>
      <div class=" md:opacity-0 md:group-hover:opacity-100 origin-bottom transition-all duration-500 ease-in flex flex-col  gap-5 h-full">
  {
        topics && (
          <div class='flex flex-wrap gap-2 text-sm  '>
            {topics.map((topic) => (
              <button class=' px-3 py-2 text-white rounded-xl bg-gray-800 '>
                {topic}
              </button>
            ))}
          </div>
        )
      }

      <div class='flex items-center mt-auto '>
      
       <a
          href={homepage}
          target='_blank'
          rel='noopener noreferrer'
          class='flex gap-1'>
          <span
            class='px-5 py-3 h-fit bg-red-500 hover:bg-red-950 bg-opacity-50  rounded-xl  text-blue-100 flex items-center  gap-3 justify-between'>
            Visit
            <img class="w-4 h-4" src={ExternalSvg} alt="external svg" srcset="">
          </span></a>
        {
          href && (
            <a
              href={href}
              target='_blank'
              rel='noopener noreferrer'
              class='px-5 flex gap-1 py-3 text-white underline underline-offset-4 decoration-rose-500'>
              Github
            </a>
            
          )
        }
      </div>
      </div>
    
    </div>
  </div>
</li>


<style>
  h4{
    @apply bg-gradient-to-br  from-red-900  via-rose-900 to-violet-900  dark:from-purple-200 dark:via-green-300 dark:to-rose-200 bg-clip-text text-transparent;
  }
</style>