---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../../config";

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  ogImage = SITE.ogImage,
} = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/logo.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>

    <!-- <link rel="canonical" href={canonicalURL} /> -->
    <meta name='generator' content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name='title' content={title} />
    <meta name='description' content={description} />
    <meta name='author' content={author} />
    <link rel='sitemap' href='/sitemap-index.xml' />

    <!-- Open Graph / Facebook -->
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <!-- <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} /> -->

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <!-- <meta property="twitter:url" content={canonicalURL} /> -->
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <!-- <meta property="twitter:image" content={socialImageURL} /> -->

<!-- locomotive scroll css -->
<link rel="stylesheet" href="/styles/locomotiveScroll.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- javascript -->
  </head>

  <body class='flex flex-col justify-between dark over ' >
    <div class='main' data-scroll-container>
      <Header />
      <main class='z-20 w-full lg:m-auto relative leading-loose'>
        <!-- Your layout content goes here -->
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=IBM+Plex+Mono:wght@500&display=swap");
  :root {
    --font-1: "Caprasimo", cursive;
    --font-2: sans-serif;
    --font-3: "IBM Plex Mono";
  }
  body {
    font-family: var(--font-1);

   
  }
  .main {
background-color: #000000;
background-image: radial-gradient(rgba(255,255,255,0.1) 2px, #000000 2px);
background-size: 40px 40px;
}
   @keyframes scroll {
    0%{
    background-position: -50px -50px;

    }
     10%{
    background-position: -20px -20px;

    }
        40%{
    background-position: -10px -10px;

    }
            50%{
    background-position: 0px 0px;

    }
               80%{
    background-position: 20px 20px;

    }
  100% {
    background-position: 50px 50px;
  }
}
  
</style>

<script>
  import LocomotiveScroll from "locomotive-scroll";
const scroll = new LocomotiveScroll({
  el: document.querySelector("[data-scroll-container]"),
  smooth: true,
  tablet: { smooth: true },
  smartphone: { smooth: true },
  reloadOnContextChange: true,
  repeat: true,
});

</script>

